h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin: 5px 0;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  margin: 5px 0;
}

img {

  height: 40px;
  width: 40px;
  border: 0;

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}