head {
  background: rgb(231, 231, 231);
  
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 34px;
  margin: 5px 10;
  margin-left: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  margin: 5px 0;
  height: 30px;
}

h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 34px;
  height: 10px;
  margin: 5px 0;
  padding-left: 55px;
}

.Userlog {
  height: 50px;
  padding-top: 3px;
  padding-left: 5px;
}

img {

  height: 45px;
  width: 45px;
  border: 0;
  position: relative;
  top: 10pt;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  padding-right: 5px;
}

body {
  margin: 10;
  padding: 20;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 50%;
  height:36px;
  font-size: 20px;
  margin-left: 17px;
  background: url("search.svg") 10pt 10pt transparent no-repeat;
  border: 1px solid #BFBFBF;
  color: rgb(95, 95, 95);
  padding: 5px 5px 5px 30pt;
  margin-bottom: 20px;
  background-size: 15pt 15pt;
  border-radius: 25px;
}

button {
  width: 40px;
  height:40px;
  color: rgb(160, 160, 160);
  background: rgb(160, 160, 160);
}

.User {
  background: rgba(235, 235, 235, 0.548);
  margin-left: 15px;
  height: 90px;
  
}

.field {
  border: 1px solid #ddd;
  display: flex;
  position: relative;
}

.field--focused {
  border-color: #ccc;
}



.clear-button,
.submit-button {
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  background-image: url(./search.svg);
  cursor: pointer;
  font-size: 0;
  outline: 0;
  padding: 0;
  width: 25px;
}

.clear-button {
  background-image: url(./delete.svg);
  background-size: 30%;
  right: 0;
  width: 40px;
}

.submit-button {
  background-color: #e5e5e5;
  background-image: url(./search.svg);
  background-size: 35%;
  border: 1px solid #ddd;
  padding: 0 20px;
  opacity: .8;
  width: 40px;
}

.submit-button:hover {
  opacity: 1;
}

